<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
	 xmlns:gap = "http://phonegap.com/ns/1.0"
	 id = "com.jochamo.todolist"
	 versionCode = "1"
	 version = "0.0.1" >

	<name>ToDo List!</name>

	<description>Not a simple ToDo List!</description>

	<author href="http://informatica.desecundaria.com" email="jochamo@gmail.com">
		Jose Chamorro Molina
	</author>

	<icon src="img/icon.png" />

	<access origin="*" />
	
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-vibration" />
	
</widget>