<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
	 xmlns:gap = "http://phonegap.com/ns/1.0"
	 id = "com.jochamo.todolist"
	 versionCode = "1"
	 version = "0.0.6" >

	<name>ToDo List!</name>

	<description>Not a simple ToDo List!</description>

	<author href="http://informatica.desecundaria.com" email="jochamo@gmail.com">
		Jose Chamorro Molina
	</author>

	<access origin="*" />
	
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-vibration" />
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="cordova-plugin-x-socialsharing" spec="5.4.0" />
	
	<icon src="img/icon.png" />
	<splash src="img/splash.png" />

    <preference name="SplashScreenDelay" value="5000" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashMaintainAspectRatio" value="false" />

    <preference name="phonegap-version" value="cli-9.0.0" />
	
</widget>